{% extends 'base.html' %} 
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Profile</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<div class="container">
  <div class="p-3 mt-3">
    <a href="{% url 'editProfile' %}" class="primary-btn">Edit Profile</a>
    <a href="{% url 'logout' %}" class="primary-btn">Logout</a>
  </div>

  <p>{{msg}}</p>
  <div class="p-3">
    <h4>UserName : {{you}}</h4>
    <h4>First Name :{{you.first_name}}</h4>
    <h4>Last Name : {{you.last_name}}</h4>
    <h4>EMail : {{you.profile.email}}</h4>
    <h4>Mobile No : {{you.profile.mobile_no}}</h4>
    <h4>Alternative Mobile No :{{you.profile.alternate_mobile_no}}</h4>
    <h4>Address Line1 :{{address.address_line1}}</h4>
    <h4>Address Line2 :{{address.address_line2}}</h4>
    <h4>City :{{address.city}}</h4>
    <h4>State :{{address.state}}</h4>
    <h4>Zipcode :{{address.zipcode}}</h4>
  </div>
</div>

{% endblock %}
